header{
  background-color: rgba(0, 0, 0, .2);
  padding: 10px;
}

nav{
  display: flex;
  justify-content: space-around;
}

nav a{
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
